<!DOCTYPE html>
<html>
  <head>
    <title>My first Express app!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hello World!</h1>
    <p>This is my first project with Express & EJS...</p>
    <h3>Carlos Nieves</h3>
    <h3>C.I.: 29959129</h3>
    <h3>Programacion 2 - Seccion 4</h3>
  </body>
</html>
