<h1>La excelencia nos caracteriza</h1>
<p>y tú has sido testigo de ello durante nuestra larga trayectoria.</p>           
<h1 id="reverso">De nuestra parte, siempre obtendrás:</h1>

<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://images.pexels.com/photos/26545243/pexels-photo-26545243/free-photo-of-persona-flores-jardin-sombrero.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="main_img d-block w-100"
          alt="SERVICIO PROFESIONAL">
      <div class="carousel-caption d-md-block">
        <h5>SERVICIO PROFESIONAL</h5>
        <h6>Nuestro equipo garantiza el correcto cuidado de tu jardín.</h6>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://images.pexels.com/photos/26827231/pexels-photo-26827231/free-photo-of-carretilla.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      class="main_img d-block w-100"
      alt="ATENCIÓN PERSONALIZADA">
      <div class="carousel-caption d-md-block">
        <h5>ATENCIÓN PERSONALIZADA</h5>
        <h6>Nos adaptamos a ti.</h6>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://images.pexels.com/photos/2134798/pexels-photo-2134798.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      class="main_img d-block w-100"
      alt="EXCELENTES TARIFAS">
      <div class="carousel-caption d-md-block">
        <h5>EXCELENTES TARIFAS</h5>
        <h6>Planes de cuidado súper asequibles.</h6>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<table>
      <tr><th id="t_head">Además:</th></tr>
      <tr><td>Autenticidad</td></tr>
      <tr><td>Puntualidad</td></tr>
      <tr><td>Pulcritud</td></tr>
</table>

<button type="button" class="btn btn-primary" id="liveToastBtn02">Descubre nuestro servicio más solicitado!</button>
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Venezuela</strong>
      <small>Período 2023-24</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Creación: "Jardín Vertical"
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function()
  {
      const toastTrigger = document.getElementById('liveToastBtn02')
      const toastLiveExample = document.getElementById('liveToast')
      if (toastTrigger) {
        toastTrigger.addEventListener('click', () => {
          const toast = new bootstrap.Toast(toastLiveExample)

          toast.show()
        })
      }
  });
</script>