<meta property="og:header_01" content="<%- header_01 %>">
<meta property="og:header_02" content="<%- header_02 %>">

<h1><%- header_01 %></h1>
<p><%- header_02 %></p>  

<form id="contact_form" action="/send" method="POST">
     <input type="hidden" id="userIP" name="userIP">
     <div class="mb-3">
          <input autocomplete="off" class="shaded-input" id="email" name="email" placeholder="E-mail" type="email" required>
     </div>

     <div class="mb-3">
          <input autocomplete="off" class="shaded-input" id="name" name="name" placeholder="Nombre" type="text" required>
     </div>

     <div class="mb-3">
          <input autocomplete="off" class="shaded-input" id="message" name="message" placeholder="Mensaje" type="text" required>
     </div>
     
     <div class="g-recaptcha" name="g-recaptcha" id="g-recaptcha" data-sitekey="6Let8K8qAAAAAECgLS39GKKY9hkcGTkUHWN9LJeg"></div>
     <button class="btn" name="btn_form" id="btn_form" type="submit" 
          onclick="gtag('event', 'click_button', {'event_category': 'button', 'event_label': 'send_form'});">
          Enviar
     </button>
</form>

<script type="application/javascript" src="https://api.ipify.org?format=jsonp&callback=getIP"></script>
<script type="application/javascript">
     fetch('https://api.ipify.org?format=json')
     .then(response => response.json())
     .then(data => {
          document.getElementById('userIP').value = data.ip;
     })
     .catch(error => {
          console.error('Error al obtener la IP:', error);
     });
</script>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>