<h1>Tu satisfacción al ver nuestros resultados</h1>
<p>nos impulsa cada vez más y nos recuerda ese propósito trazado hace décadas:</p>           
<h1 id="reverso">Impresionar a cada cliente con cada detalle!</h1>

<div class="row align-items-start" id="customers_img01">
     <div class="col">
          <h6 id="cus_text02">Michelle | Guataparo, Carabobo</h6>
          <img src="https://images.pexels.com/photos/1145257/pexels-photo-1145257.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                        class="d-block w-100"
                        alt="001" id="cus_img">
          <h6 id="cus_text">Jardín Contemporáneo</h6>
     </div>
     
</div>
<div class="row align-items-start" id="customers_img02">
     <div class="col">
          <h6 id="cus_text02">Sophia | Margarita, Nueva Esparta</h6>
          <img src="https://www.tea2architects.com/wp-content/uploads/2024/10/2-EX-East-Entry-8086-crTEA2-EDIT-1124x750.jpg"
                        class="d-block w-100"
                        alt="002" id="cus_img">
          <h6 id="cus_text">Jardín Orgánico</h6>
     </div>
</div>
<div class="row align-items-start" id="customers_img02">
     <div class="col">
          <h6 id="cus_text02">Pedro | Lechería, Anzoátegui<h6>
          <img src="https://images.pexels.com/photos/8031873/pexels-photo-8031873.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                        class="d-block w-100"
                        alt="003" id="cus_img">
          <h6 id="cus_text">Jardín Minimalista</h6>
     </div>
</div>
<div class="row align-items-start" id="customers_img03">
     <div class="col">
          <h6 id="cus_text02">Giuseppe | Altamira, Caracas</h6>
          <img src="https://images.pexels.com/photos/5071179/pexels-photo-5071179.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                        class="d-block w-100"
                        alt="003" id="cus_img">
          <h6 id="cus_text">Jardín Conceptual - Vertical</h6>
     </div>
</div>

<p>Cada semana recibimos mensajes gratificantes de ustedes... descubre el favorito de esta semana abajo:</p>

<a tabindex="0" class="btn" role="button" data-bs-toggle="custom-popover"
data-bs-trigger="focus" data-bs-title="De: Christie | Desde: Lechería, Anzoátegui"
data-bs-content="Quedé asombrada con el acabado de mi 'Jardín Vertical', la variedad de flores y cactus me encantó, y el concepto Oriental que quería superó mis expectativas, son increíbles. Siempre agradecida!"
data-bs-custom-class="custom-popover" id="liveToastBtn02">Exprésate a través de nuestras redes!</a>

<script>
     document.addEventListener("DOMContentLoaded", function()
     {
          const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="custom-popover"]')
          const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
     });
</script>