<!DOCTYPE html>
<html>
  <head>
    <title>My first Express app!</title>
    <style>
      .background {
        background-color: rgb(35, 30, 30);
      }

      .title {
        color: blanchedalmond;
        text-align: center;
      }

      p {
        color: aliceblue;
        text-align: center;
      }

      h3 {
        color: blanchedalmond;
        text-align: center;
      }
    </style>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="background">
    <h1 class="title">Hello_World!</h1>
    <p>This is my first project with Express & EJS</p>
    <h3>Student:</h3> <p>Carlos Nieves</p>
    <h3>ID:</h3>      <p>29959129</p>
    <h3>Subject:</h3> <p>Programming II (Section 4)</p>
  </body>
</html>
