<!DOCTYPE html>
<html>
  <head>
    <title>My first Express app!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hello_World!</h1>
    <p>This is my first project with Express & EJS</p>
    <h3>Student:</h3> <p>Carlos Nieves</p>
    <h3>ID:</h3>      <p>29959129</p>
    <h3>Subject:</h3> <p>Programming II (Section 4)</p>
  </body>
</html>
