<h1>Tu solución ideal</h1>
<p>Ofrecemos servicios adaptados a lo que necesites.</p>
<h1 id="reverso">Conócelos!</h1>

<div class="row align-items-start" id="services">
  <div class="col">
    <div class="card" style="width: 100%;" id="service01">
      <img src="https://images.pexels.com/photos/126271/pexels-photo-126271.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                  class="d-block w-100"
                  alt="Creacion">
      <div class="card-body">
        <h4 class="card-title">Creación</h4>
        <h5 class="card-text">Hacemos realidad tu idea: áreas verdes, diversos vergeles, espacios botánicos y mucho más.</h5>
        <a href="/contact" class="btn" id="btn_service">Solicita</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 100%;" id="service02">
      <img src="https://images.pexels.com/photos/4975361/pexels-photo-4975361.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                  class="d-block w-100"
                  alt="Limpieza">
      <div class="card-body">
        <h4 class="card-title">Limpieza</h4>
        <h5 class="card-text">Nuestra especialidad: un mantenimiento de categoría y con resultados garantizados de primer nivel.</h5>
        <a href="/contact" class="btn" id="btn_service">Solicita</a>
      </div>
    </div>
  </div>  
  <div class="col">
    <div class="card" style="width: 100%;" id="service03">
      <img src="https://images.pexels.com/photos/12343523/pexels-photo-12343523.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                  class="d-block w-100"
                  alt="Restauracion">
      <div class="card-body">
        <h4 class="card-title">Restauración</h4>
        <h5 class="card-text">Devuélvele la belleza a tu jardín en poco tiempo con nuestro proceso certificado de restauración.</h5>
        <a href="/contact" class="btn" id="btn_service">Solicita</a>
      </div>
    </div>
  </div>
</div>

<p>Siempre dispuestos a brindarte la mejor atención posible.</p>