<h1>Gracias por tu mensaje</h1>
<p>Valoramos tu opinión. La tomaremos en cuenta.</p>

<img src="https://images.pexels.com/photos/29537707/pexels-photo-29537707.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
class="aboutus01"
alt="001">